[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gym = "*"
pytest = "==3.5.0"
pytest-mock = "*"
simpy = "*"
scipy = "*"

[dev-packages]
pylint = "*"
sphinx = "*"
sphinx-autobuild = "*"
sphinx-rtd-theme = "*"
mypy-lang = "*"
sphinx-autodoc-typehints = "*"
pipenv-to-requirements = "*"
rope = "*"
sphinxcontrib-bibtex = "*"
keras-rl = "*"
tensorflow = "*"

[requires]
python_version = "3.6"
