[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gym = "*"
pytest-mock = "*"
simpy = "*"
scipy = "*"
pytest = "*"
pytest-benchmark = {extras = ["histogram"], version = "*"}

[dev-packages]
gymwipe = {editable = true, path = "."}
pylint = "*"
sphinx = "*"
sphinx-autobuild = "*"
sphinx-rtd-theme = "*"
sphinx-autodoc-typehints = "*"
sphinxcontrib-bibtex = "*"
pipenv-to-requirements = "*"
rope = "*"
keras-rl = "*"
tensorflow = "*"

[requires]
python_version = "3.6"
